/* MISC
--------------------------------------------------------- */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fff;
}

/* HEADER
--------------------------------------------------------- */
header {
    background: #3D9E91;
    padding: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* NAVIGATION
--------------------------------------------------------- */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav li:last-child {
    margin-right: 0;
}


nav li a {
    color: #fff;
    padding: 1rem 2rem;
    background: #338479;
    border-radius: 100px;
    text-decoration: none;
}

/* MAIN
--------------------------------------------------------- */


/* FOOTER
--------------------------------------------------------- */
footer {
    background: #252525;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}